.*
coverage
dist
docs
node_modules
.pnpm-store
test
tmp
**/test
**/*.test.ts
**/*.spec.ts
types
docker
API Collections
**/.DS_Store

# We need this script file to prevent husky running in production.
!.husky/install.mjs


# Yarn files

!.yarn
!.yarnrc.yml


src/scripts/
