lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

.devcontainer/meilisearch_data

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env
.env.*

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built js files
dist

# Ignore generated .d.ts files
types

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# jest
.jest-cache

# Secrets
secret-key

# Generated
openapi.json
vacuum-report.html
