version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # [Choice] Node.js version: 14, 12, 10
        VARIANT: 16
        # On Linux, you may need to update USER_UID and USER_GID below if not your local UID is not 1000.
        USER_UID: 1000
        USER_GID: 1000

    environment:
      HOSTNAME: localhost
      PG_CONNECTION_URI: "postgresql://docker:docker@localhost:5432/docker"
      FILE_STORAGE_ROOT_PATH: "/tmp/graasp-file-item-storage"

    volumes:
      - ..:/workspace:cached
      - ../tmp:/tmp/graasp-file-item-storage

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db
    # Uncomment the next line to use a non-root user for all processes.
    # user: node

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    build:
      context: ../
      dockerfile: .devcontainer/db/Dockerfile
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: docker
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward MongoDB locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  redis:
    container_name: graasp-redis
    image: redis
    ports:
      - 6379:6379
    restart: unless-stopped

  # Localstack is used to test aws services locally
  localstack:
    container_name: graasp-localstack
    image: localstack/localstack
    volumes:
      - ${TMPDIR}/localstack:/tmp/graasp-localstack
      - ./localstack:/docker-entrypoint-initaws.d
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - SERVICES=s3
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=us-east-1
    ports:
      - 4566-4583:4566-4583

  # necessary for graasp-embedded-link-item
  iframely:
    image: graasp/iframely:latest
    environment:
      NODE_ENV: staging
    ports:
      - 8061:8061

volumes:
  postgres-data: null
