name: Deploy to refactor environment

# Controls when the action will run.
on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# This workflow is made up of one job that calls the reusable workflow in graasp-deploy
jobs:
  refactor-deploy-ecs-backend-workflow:
    # repository name
    name: Graasp
    uses: graasp/graasp-deploy/.github/workflows/deploy-refactor.yml@fix-refactor

    # abort previous deployment if a newer one is in progress
    concurrency:
      group: deploy-refactor
      cancel-in-progress: true

    with:
      # workflow config
      ecs-task-definition: '.aws/refactor.json'
      environment: refactor               

    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      apps-jwt-secret: ${{ secrets.APPS_JWT_SECRET }}
      auth-token-jwt-secret: ${{ secrets.AUTH_TOKEN_JWT_SECRET }}
      container-image-iframely: ${{ secrets.CONTAINER_IMAGE_IFRAMELY }}
      container-image-classifier: ${{ secrets.CONTAINER_IMAGE_CLASSIFIER }}
      db-host: ${{ secrets.DB_HOST }}
      db-name: ${{ secrets.DB_NAME }}
      db-password: ${{ secrets.DB_PASSWORD }}
      db-username: ${{ secrets.DB_USERNAME }}
      db-read-replica-host : ${{ secrets.DB_READ_REPLICA_HOST }}
      ecr-repository: ${{ secrets.ECR_REPOSITORY_GRAASP }}
      ecs-cluster: ${{ secrets.ECS_CLUSTER_GRAASP }}
      ecs-service: ${{ secrets.ECS_SERVICE_GRAASP }}
      etherpad-api-key: ${{ secrets.ETHERPAD_API_KEY }}
      h5p-content-access-key-id: ${{ secrets.H5P_CONTENT_ACCESS_KEY_ID }}
      h5p-content-bucket-name: ${{ secrets.H5P_CONTENT_BUCKET }}
      h5p-content-secret-access-key: ${{ secrets.H5P_CONTENT_SECRET_ACCESS_KEY }}
      jwt-secret: ${{ secrets.JWT_SECRET }}
      mailer-config-from-email: ${{ secrets.MAILER_CONFIG_FROM_EMAIL }}
      mailer-config-password: ${{ secrets.MAILER_CONFIG_PASSWORD }}
      mailer-config-smtp-host: ${{ secrets.MAILER_CONFIG_SMTP_HOST }}
      mailer-config-username: ${{ secrets.MAILER_CONFIG_USERNAME }}
      pg-connection-uri: ${{ secrets.PG_CONNECTION_URI }}
      pg-read-replicas-connection-uris: ${{ secrets.PG_READ_REPLICAS_CONNECTION_URIS }}
      recaptcha-secret-access-key: ${{ secrets.RECAPTCHA_SECRET_ACCESS_KEY }}
      redis-host: ${{ secrets.REDIS_HOST }}
      redis-port: ${{ secrets.REDIS_PORT }}
      redis-password: ${{ secrets.REDIS_PASSWORD }}
      redis-username: ${{ secrets.REDIS_USERNAME }}
      refresh-token-jwt-secret: ${{ secrets.REFRESH_TOKEN_JWT_SECRET }}
      s3-file-item-access-key-id: ${{ secrets.S3_FILE_ITEM_ACCESS_KEY_ID }}
      s3-file-item-bucket: ${{ secrets.S3_FILE_ITEM_BUCKET }}
      s3-file-item-secret-access-key: ${{ secrets.S3_FILE_ITEM_SECRET_ACCESS_KEY }}
      secure-session-secret-key: ${{ secrets.SECURE_SESSION_SECRET_KEY }}
      sentry-dsn: ${{ secrets.SENTRY_DSN }}
