name: Deploy to development environment

on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag:
        description: Tag to use for the image
        default: 'nightly'
        type: choice
        options:
        - nightly
        - latest


permissions:
  id-token: write # This is required for requesting the JWT for OIDC

jobs:
  build:
    name: Build & Push Image
    runs-on: ubuntu-24.04-arm
    environment: development

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build images
        uses: ./.github/actions/build-images
        with:
          tag: ${{ inputs.tag || 'nightly' }}
          aws-ecr-uri: ${{ vars.PRIVATE_ECR }}
          aws-role-arn: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          sentry-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
