# Automate releases of new app versions
name: release-please

on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT ofr OIDC
  contents: write
  pull-requests: write
  # needed for the auto-tag
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_PAT }}
          release-type: node

      - uses: actions/checkout@v4

      - name: Build images
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        uses: ./.github/actions/build-images
        with:
          tag: ${{ steps.release.outputs.tag_name }}
          aws-ecr-uri: ${{ vars.GRAASP_PUBLIC_ECR }}
          aws-role-arn: ${{ vars.AWS_ROLE_ARN }}
          aws-region: us-east-1
          sentry-token: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Auto Tag
        uses: graasp/graasp-deploy/.github/actions/auto-tag-after-release@v1
        with:
          releases_created: ${{ steps.release.outputs.releases_created }}
          tag_name: ${{ steps.release.outputs.tag_name }}
